header{
  width: 100%;
  left: 0; /* Posicionamos la cabecera al lado izquierdo */
  top: 0; /* Posicionamos la cabecera pegada arriba */
  position: fixed;
}
.hero{
  /* background: white; */
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  /* border: 1px  gray; */
  /* border-radius: 10px; */
  padding: 15px;
  align-items: center;
  justify-content: right;
  /* box-shadow: 2px 3px 6px -1px var(--background_project_shadow); */
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)), url("../images/") ; */
  background-color: black;
  /* opacity: 0.4; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  color : antiquewhite;
  height: 50px;
  width: 100%;

  left: 0; /* Posicionamos la cabecera al lado izquierdo */
  top: 0; /* Posicionamos la cabecera pegada arriba */
  /* margin-bottom: 200px; */
  
}

.container{
  /* background: white; */
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px  gray;
  border-radius: 10px;
  /* padding: 15px; */
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  /* width: 100%; */
  margin-top: 80px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)), url("../images/images.jpg") ;
  background-repeat: repeat;
  /* background-size: cover; */
}
.box {
  color: black  ;
  font-weight: bold;
  border: rgb(236, 236, 236);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 20px;
  width: 900px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: rgb(248, 248, 248);
  box-shadow: 2px 3px 6px -1px  #b3b3b3;
}
.link{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: medium;
}
.link:hover{
  background-color: rgba(233, 92, 92, 0.6);
}
img{
  width: 300px;
  margin: auto;
  align-self: center;
}

footer{
  background-color: black;
  color: antiquewhite;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  margin: auto;
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 20px;
  /* width: 100%; */
}
body{
  left: 0;
  right: 0;
  margin: 0;
}

.box-des{
  color: black  ;
  font-weight: bold;
  border: rgb(236, 236, 236);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: rgb(255, 255, 255);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
}

.heart:hover{
  /* display: none; */
  background-image: url("../images/heart.png");
  background-size: contain;
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
}

.heart{
  /* display: none; */
  width: 500px;
  height: 500px;
  display: inline-block;
  background-image: url("../images/coquetoysho.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
}


.xadult:hover{
  /* display: none; */
  background-image: url("../images/mmm.jpeg");
  background-size: contain;
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
}

.xadult{
  /* display: none; */
  width: 500px;
  height: 500px;
  display: inline-block;
  background-image: url("../images/noapto.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
}